
{%- if headline %}
<h{{ headline.rank }}>{{ headline.text }}</h{{ headline.rank }}>
{% endif -%}
<div class="example-component">
    {% for item in content %}
    {% render item.handle, item.config %}
    {% endfor %}
</div>
